@function em($pxval, $base: 16) {
	@return ($pxval / $base) * 1em;
}

%voteButton {
    display: block;
    flex: 1 0 50%;
    border: none;
    font-weight: 900;
}

* { box-sizing: border-box; }
body {
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.controls {
    &__wrap {
        position: relative;
        padding: em(10) em(20);
        background-color: white;
        border-bottom: em(2) solid black;
    }
    &__select {
        height: 100%;
        width: 100%;
        padding-left: em(5);
        background-color: transparent;
        border: none;
        font-weight: bold;

        &__wrap {
            position: relative;
            display: inline-block;
            height: em(35);
            width: em(100);
            background-color: white;
            border: em(2) solid black;
        }
    }
    &__btn {
        background-color: white;
        color: black;
        border: em(2) solid black;
        padding: em(10);
        font-weight: bold;
        &--new-post {
            background-color: rgb(68, 158, 68);
            color: white;
            border: em(2) solid rgb(68, 158, 68);
            border-radius: em(3);
            padding: em(10);
            font-weight: bold;
        }
        &--new-user {
            background-color: rgb(233, 162, 29);
            color: white;
            border: em(2) solid rgb(230, 154, 14);
            border-radius: em(3);
            padding: em(10);
            font-weight: bold;
        }
    }
}

.display__wrap {
    height: 100%;
    background-color: #f3f3f3;
    padding: em(20);
}

.post {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: em(20);

    &__votes {
        &__wrap {
            // position: relative;
            flex: 0 0 em(64);
            height: em(87);
            display: flex;
            flex-direction: column;
        }

        &__upvote {
            @extend %voteButton;
            background-color: rgb(255, 188, 64);
        }
        &__downvote {
            @extend %voteButton;
            background-color: rgb(88, 88, 197);
            color: black;
        }
    }

    &__main {
        flex: 0 1 100%;
        padding: em(10);
        background-color: white;
    }

    &__header {
        margin: 0;
    }

    &__content {
        display: none;
        input[name=showPost]:checked + & {
            display: block;
        }
    }

    &__comments {
        display: none;
        input[name=showComments]:checked ~ & {
            display: block;
        }
    }

    &__show-post {
        position: relative;
        display: inline-block;
        background-color: white;
        border: em(1) solid black;
        padding: em(3);
        margin-top: em(2);

        & + input {
            
        }
    }
}



.modal {
    padding: em(30) em(50);

    background-color: white;
    // border: em(3) solid black;
    border-radius: em(10);

    & input,textarea {
        margin: 0 0 em(10) 0;
        border: none;
        font-size: em(22);
        &:focus { outline: none; }
        &#title {
            font-size: em(30);
        }
        &#sub {
            font-size:em(22);
        }
    }

    & textarea { font-size: em(18); }

    &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(black,0.6);
    }
    
    & * {display: block;}
    
}
